#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.mainContainer{
 /* From https://css.glass */
background: rgba(255, 255, 255, 0.31);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11.1px);
-webkit-backdrop-filter: blur(11.1px);
border: 1px solid rgba(180, 255, 139, 0.14);
  padding:20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}